Repository ChainSafe/gossamer, pull requests merged in 2019-05, with the labels that each got.

#114 Elizabeth/trie fix header
  trie/hash.go
  trie/node.go
  trie/node_test.go
Labels: Trie/DB, bug

#110 RPC Service Map
  rpc/json2/server.go
  rpc/json2/server_test.go
  rpc/server_test.go
  rpc/serviceMap.go
  rpc/serviceMap_test.go
Labels: RPC, core

#112 PeerCount method + PublicRPCService
  go.mod
  internal/api.go
  p2p/p2p.go
  p2p/p2p_test.go
  trie/database.go
Labels: LibP2P/Networking, RPC, enhancement

#119 Ping/Send Testing
  README.md
  p2p/p2p_test.go
Labels: Waiting For Review
