Repository ChainSafe/gossamer, pull requests merged in 2021-03, with the labels that each got.

#1421 a few more sync fixes
  dot/core/digest.go
  dot/core/messages.go
  dot/core/service.go
  dot/rpc/modules/author.go
  dot/sync/syncer.go
  lib/babe/verify.go
  lib/runtime/wasmer/instance.go
Labels: Status: Needs Review

#1422 lib/runtime: use GlobalKeystore
  dot/node.go
  dot/services.go
  dot/services_test.go
  lib/keystore/keystore.go
  lib/runtime/types.go
  lib/runtime/wasmer/imports.go
  lib/runtime/wasmer/imports_test.go
  lib/runtime/wasmer/legacy_imports.go
  lib/runtime/wasmer/legacy_imports_test.go
  lib/runtime/wasmer/test_helpers.go
  lib/runtime/wasmtime/legacy_imports.go
  lib/runtime/wasmtime/test_helpers.go
Labels: Status: Needs Review, wasm

#1420 dot/network: remove unneeded map access, sync fixes
  dot/core/digest.go
  dot/core/messages.go
  dot/core/service.go
  dot/network/block_announce.go
  dot/rpc/modules/author.go
  dot/sync/syncer.go
  lib/babe/verify.go
  lib/runtime/wasmer/instance.go
Labels: Status: Needs Review

#1414 lib/crypto, lib/runtime: add BIP39 functionality
  dot/rpc/modules/system_test.go
  go.mod
  lib/crypto/ed25519/ed25519.go
  lib/crypto/ed25519/ed25519_test.go
  lib/crypto/keypair.go
  lib/crypto/sr25519/sr25519.go
  lib/crypto/sr25519/sr25519_test.go
  lib/runtime/wasmer/imports.go
  lib/runtime/wasmer/imports_test.go
Labels: Status: Needs Review, crypto

#1423 implement ability to rewind chain
  cmd/gossamer/config.go
  cmd/gossamer/flags.go
  dot/config.go
  dot/services.go
  dot/state/service.go
  dot/state/service_test.go
  dot/state/test_helpers.go
  dot/types/babe_digest.go
  lib/blocktree/blocktree.go
  lib/blocktree/blocktree_test.go
Labels: Status: Needs Review

#1428 dot/sync: handle block response justification
  dot/network/connmgr.go
  dot/network/host.go
  dot/network/service.go
  dot/network/sync.go
  dot/state/block.go
  dot/state/block_data_test.go
  dot/state/service.go
  dot/sync/interface.go
  dot/sync/message_test.go
  dot/sync/syncer.go
  dot/sync/syncer_test.go
  lib/blocktree/blocktree.go
  lib/blocktree/blocktree_test.go
  lib/blocktree/database_test.go
Labels: Status: Needs Review

#1430 update broken links
  docs/pages/Developer_Resources.md
Labels: Status: Approved

#1360 Added additional Peer data from handshake announce
  dot/network/block_announce.go
  dot/network/block_announce_test.go
  dot/network/host_test.go
  dot/network/notifications.go
  dot/network/service.go
  go.sum
  lib/common/network.go
  tests/rpc/rpc_01-system_test.go
  tests/rpc/system_integration_test.go
Labels: network

#1431 dot/network: various sync + scoring fixes
  dot/network/connmgr.go
  dot/network/service.go
  dot/network/sync.go
  dot/network/sync_test.go
  dot/network/test_helpers.go
Labels: Status: Needs Review, network

#1432 dot/network: sync queue improvements, correctly set blocktree root after prune
  dot/network/sync.go
  dot/network/sync_test.go
  dot/state/block.go
  dot/state/block_test.go
  dot/types/block_data.go
  lib/blocktree/blocktree.go
  lib/blocktree/blocktree_test.go
  lib/blocktree/leaves.go
  lib/blocktree/node.go
Labels: Status: Needs Review, network

#1433 Implement persistent peerstore.
  dot/network/block_announce_test.go
  dot/network/connmgr_test.go
  dot/network/gossip_test.go
  dot/network/host.go
  dot/network/host_test.go
  dot/network/mdns_test.go
  dot/network/notifications_test.go
  dot/network/service_test.go
  dot/network/transaction_test.go
  go.mod
  go.sum
  lib/utils/test_utils.go
Labels: Status: Approved, network

#1435 dot/network: small sync fixes
  dot/network/sync.go
  dot/network/sync_benchmark.go
  dot/network/sync_test.go
Labels: Status: Needs Review, network

#1441 lib/runtime: deprecate legacy runtime
  dot/core/service_test.go
  dot/core/test_helpers.go
  dot/rpc/modules/author_test.go
  dot/services.go
  dot/sync/syncer_test.go
  lib/runtime/constants.go
  lib/runtime/interface.go
  lib/runtime/test_helpers.go
  lib/runtime/wasmer/exports.go
  lib/runtime/wasmer/exports_legacy_test.go
  lib/runtime/wasmer/exports_test.go
  lib/runtime/wasmer/exports_unchecked_extrinsic_test.go
  lib/runtime/wasmer/imports.go
  lib/runtime/wasmer/imports_test.go
  lib/runtime/wasmer/instance.go
  lib/runtime/wasmer/instance_test.go
  lib/runtime/wasmer/legacy_imports.go
  lib/runtime/wasmer/legacy_imports_test.go
  lib/runtime/wasmer/test_helpers.go
  lib/runtime/wasmtime/exports.go
  lib/runtime/wasmtime/exports_test.go
  lib/runtime/wasmtime/imports.go
  lib/runtime/wasmtime/instance.go
  lib/runtime/wasmtime/legacy_imports.go
  lib/runtime/wasmtime/test_helpers.go
Labels: Status: Approved, wasm

#1443 dot/state: update rewind to forcefully set blocktree root, update flag param to be block to rewind to
  cmd/gossamer/flags.go
  dot/services.go
  dot/state/service.go
Labels: Status: Approved

#1442 lib/runtime: implement ext_crypto_secp256k1_ecdsa_recover_compressed_version_1
  dot/network/notifications.go
  dot/network/service.go
  lib/crypto/secp256k1/secp256k1.go
  lib/crypto/secp256k1/secp256k1_test.go
  lib/runtime/wasmer/imports.go
  lib/runtime/wasmer/imports_test.go
Labels: Status: Needs Review

#1437 feat(metrics): Monitor and publish metrics to Prometheus.
  chain/gssmr/config.toml
  chain/gssmr/defaults.go
  chain/ksmcc/config.toml
  chain/ksmcc/defaults.go
  cmd/gossamer/config.go
  cmd/gossamer/config_test.go
  cmd/gossamer/export.go
  cmd/gossamer/export_test.go
  cmd/gossamer/flags.go
  cmd/gossamer/main.go
  cmd/gossamer/utils.go
  dot/config.go
  dot/config/toml/config.go
  dot/metrics/metrics.go
  dot/network/config.go
  dot/network/service.go
  dot/node.go
  dot/services.go
  go.mod
  go.sum
  tests/utils/gossamer_utils.go
Labels: Status: Approved

#1449 fix: lib/trie: fix trie.NextKey
  lib/runtime/storage/trie.go
  lib/runtime/storage/trie_test.go
  lib/runtime/wasmer/exports_test.go
  lib/runtime/wasmer/imports.go
  lib/trie/trie.go
  lib/trie/trie_test.go
Labels: Status: Approved, trie

#1451 fix: lib/runtime: update sign_ funcs to return fixed size byte optional
  lib/common/optional/types.go
  lib/runtime/life/instance.go
  lib/runtime/wasmer/imports.go
  lib/runtime/wasmer/imports_test.go
Labels: Status: Approved

#1450 fix: lib/runtime: allow generic keystore type in public_keys ext functions
  lib/runtime/wasmer/imports.go
  lib/runtime/wasmer/imports_test.go
Labels: Status: Approved, wasm

#1415 feat: dot/rpc: Add support for submit and watch extrinisic
  .github/workflows/tests.yml
  dot/core/service.go
  dot/core/service_test.go
  dot/core/test_helpers.go
  dot/rpc/http.go
  dot/rpc/modules/author.go
  dot/rpc/modules/author_test.go
  dot/rpc/modules/state.go
  dot/rpc/websocket.go
  dot/state/block_notify.go
  lib/babe/build_test.go
  lib/runtime/wasmer/exports_test.go
  tests/polkadotjs_test/package-lock.json
  tests/polkadotjs_test/package.json
  tests/polkadotjs_test/test_transaction.js
  tests/rpc/rpc_02-author_test.go
Labels: Status: Approved, rpc

#1455 feat: dot/state: implement import-state subcommand
  cmd/gossamer/config.go
  cmd/gossamer/flags.go
  cmd/gossamer/main.go
  dot/import.go
  dot/import_test.go
  dot/state/epoch.go
  dot/state/service.go
  dot/state/service_test.go
  dot/sync/syncer.go
  dot/types/babe_digest.go
  lib/babe/state.go
  lib/babe/verify.go
  lib/common/well_known_keys.go
Labels: Status: Needs Review

#1461 chore:github-actions: code coverage change from codeclimate to codecov
  .deepsource.toml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/checks.yml
  .github/workflows/tests.yml
  .golangci.yml
  codeclimate.yml
  codecov.yml
  dot/core/test_helpers.go
Labels: Status: Needs Review, Type: Maintenance

#1463 fix:lib/trie: fix trie.NextKey case
  lib/trie/trie.go
  lib/trie/trie_test.go
Labels: Status: Approved, trie

#1464 Add code cov badge & to development build
  .github/workflows/build.yml
  .github/workflows/tests.yml
  README.md
Labels: Status: Approved, Type: Maintenance

#1466 fix:dot/network: fix grandpa protocol ID
  dot/network/host.go
  dot/network/host_test.go
  dot/network/notifications.go
  dot/network/notifications_test.go
  dot/network/service.go
  lib/grandpa/network.go
  lib/grandpa/round_test.go
  lib/grandpa/state.go
Labels: Status: Needs Review, network

#1470 chore: rename ksmcc -> kusama
  README.md
  chain/kusama/config.toml
  chain/kusama/defaults.go
  chain/kusama/genesis-raw.json
  cmd/gossamer/config.go
  cmd/gossamer/config_test.go
  cmd/gossamer/main_test.go
  cmd/gossamer/toml_config_test.go
  docs/pages/Get_Started.md
  docs/pages/Host_Architecture.md
  docs/pages/Official_Nodes.md
  dot/config.go
  lib/runtime/life/exports_test.go
  lib/runtime/wasmer/exports_test.go
  lib/utils/utils.go
Labels: Status: Needs Review, Type: Maintenance

#1465 fix: dot/network: improve syncing at head
  dot/core/interface.go
  dot/core/test_helpers.go
  dot/network/connmgr_test.go
  dot/network/state.go
  dot/network/state_test.go
  dot/network/sync.go
  dot/network/sync_test.go
  dot/network/test_helpers.go
  dot/rpc/modules/system_test.go
  dot/state/block.go
  dot/state/storage.go
  dot/sync/interface.go
  dot/sync/message.go
  dot/sync/syncer.go
  dot/sync/syncer_test.go
  lib/babe/state.go
  lib/blocktree/blocktree.go
  lib/blocktree/blocktree_test.go
  lib/blocktree/database_test.go
Labels: Status: Needs Review, network

#1467 feat:dot/network: open block announce stream and send handshake on connect
  dot/network/service.go
  dot/network/service_test.go
Labels: Status: Approved, network

#1471 chore: README: fix coverage badge
  README.md
Labels: Status: Needs Review, Type: Maintenance

#1459 refactor: dot/rpc: move websocket messages and listeners subscription package
  dot/rpc/http.go
  dot/rpc/subscription/listeners.go
  dot/rpc/subscription/messages.go
  dot/rpc/subscription/websocket.go
  dot/rpc/websocket_test.go
Labels: pr-approved, rpc

#1480 fix: dot/network: added BestBlock bool to BlockAnnounceMessage
  dot/core/messages_test.go
  dot/core/service.go
  dot/network/block_announce.go
  dot/network/message_test.go
Labels: network, pr-approved

#1448 test: dot: test transfer extrinsic
  dot/rpc/modules/author.go
  dot/rpc/modules/author_test.go
  lib/grandpa/grandpa.go
  tests/rpc/rpc_02-author_test.go
  tests/stress/helpers.go
  tests/stress/stress_test.go
  tests/utils/common.go
  tests/utils/gossamer_utils.go
  tests/utils/request_utils.go
  tests/utils/rpc_methods.go
Labels: pr-approved, tests

#1487 chore: update cli version
  cmd/gossamer/main.go
Labels: needs review

#1483 feat: cmd: implement import-runtime subcommand
  cmd/gossamer/import_runtime.go
  cmd/gossamer/import_runtime_test.go
  cmd/gossamer/main.go
  lib/genesis/genesis.go
  lib/genesis/helpers.go
Labels: cmd, pr-approved

#1488 fix(lib/crypto/ed25519): update ed25519 to use go-schnorrkel bip39 derivation
  lib/crypto/ed25519/ed25519.go
  lib/crypto/ed25519/ed25519_test.go
  lib/runtime/wasmer/imports.go
  lib/runtime/wasmer/imports_test.go
Labels: crypto, pr-approved

#1486 fix(state) : Update StorageState to load storage from database.
  dot/state/storage.go
  dot/state/storage_test.go
  lib/trie/child_storage.go
  lib/trie/trie.go
Labels: pr-approved, state

#1489 fix(dot/state): fix usage of trie.Snapshot
  dot/state/storage.go
  dot/state/storage_test.go
  dot/sync/syncer.go
  lib/babe/babe.go
  lib/runtime/storage/trie.go
Labels: needs review, trie

#1491 fix(dot/state,dot/network): improve memory usage when syncing
  dot/core/test_helpers.go
  dot/network/service_test.go
  dot/network/state.go
  dot/network/sync.go
  dot/network/test_helpers.go
  dot/node.go
  dot/rpc/modules/system_test.go
  dot/state/storage.go
  dot/state/storage_test.go
  dot/sync/interface.go
  dot/sync/syncer.go
  tests/rpc/rpc_01-system_test.go
Labels: needs review, optimization

#1492 fix(dot/network): update notificationsProtocol handshakeData to sync.Map
  dot/network/block_announce.go
  dot/network/block_announce_test.go
  dot/network/host_test.go
  dot/network/notifications.go
  dot/network/notifications_test.go
  dot/network/service.go
  dot/network/service_test.go
Labels: network, pr-approved

#1493 fix(dot/network): remove log
  dot/network/sync.go
Labels: needs review
