Repository ChainSafe/gossamer, pull requests merged in 2021-02, with the labels that each got.

#1340 update ext_crypto_sr25519_verify_version_1 to use older signature verification
  go.mod
  go.sum
  lib/crypto/sr25519/sr25519.go
  lib/crypto/sr25519/sr25519_test.go
  lib/runtime/wasmer/imports.go
Labels: Status: Approved, crypto

#1342 Add discord badge to readme
  README.md
Labels: Status: Approved

#1344 lib/babe: update BABE to use non-relative slot time
  cmd/gossamer/config.go
  dot/core/interface.go
  dot/services.go
  dot/state/block.go
  dot/state/block_test.go
  dot/state/service_test.go
  dot/state/test_helpers.go
  lib/babe/babe.go
  lib/babe/babe_test.go
  lib/babe/build.go
  lib/babe/build_test.go
  lib/babe/epoch.go
  lib/babe/epoch_test.go
  lib/babe/median.go
  lib/babe/median_test.go
  lib/babe/state.go
  lib/babe/types.go
  lib/babe/verify_test.go
Labels: Status: Approved

#1350 dot/state: store trie nodes in database
  dot/core/digest_test.go
  dot/core/interface.go
  dot/core/messages_test.go
  dot/core/service_test.go
  dot/core/test_helpers.go
  dot/node.go
  dot/node_test.go
  dot/rpc/modules/author.go
  dot/rpc/modules/chain_test.go
  dot/rpc/modules/dev_test.go
  dot/rpc/modules/state_test.go
  dot/state/db.go
  dot/state/db_test.go
  dot/state/epoch_test.go
  dot/state/service.go
  dot/state/service_test.go
  dot/state/storage.go
  dot/state/storage_notify_test.go
  dot/state/storage_test.go
  dot/sync/interface.go
  dot/sync/syncer.go
  dot/sync/syncer_test.go
  dot/sync/test_helpers.go
  dot/types/tx.go
  lib/babe/babe.go
  lib/babe/babe_test.go
  lib/babe/build_test.go
  lib/babe/state.go
  lib/babe/verify.go
  lib/babe/verify_test.go
  lib/common/db_keys.go
  lib/common/hasher.go
  lib/genesis/helpers.go
  lib/grandpa/grandpa_test.go
  lib/runtime/interface.go
  lib/runtime/storage/test_helpers.go
  lib/runtime/storage/trie.go
  lib/runtime/storage/trie_test.go
  lib/runtime/wasmer/exports_test.go
  lib/runtime/wasmer/imports.go
  lib/runtime/wasmer/instance.go
  lib/runtime/wasmer/legacy_imports.go
  lib/runtime/wasmtime/legacy_imports.go
  lib/trie/database.go
  lib/trie/database_test.go
  lib/trie/encode.go
  lib/trie/encode_test.go
  lib/trie/node.go
  lib/trie/node_test.go
  lib/trie/print.go
  lib/trie/trie.go
  lib/trie/trie_test.go
  scripts/ci.sh
Labels: Status: Needs Review, state

#1375 trie: fix ClearPrefix
  lib/runtime/storage/trie.go
  lib/runtime/storage/trie_test.go
  lib/trie/trie.go
  lib/trie/trie_test.go
Labels: Status: Needs Review, trie

#1365 dot/network: update DHT to work with kusama, increase peer count
  Makefile
  cmd/gossamer/config.go
  dot/config.go
  dot/config/toml/config.go
  dot/network/block_announce.go
  dot/network/block_announce_test.go
  dot/network/config.go
  dot/network/connmgr.go
  dot/network/connmgr_test.go
  dot/network/host.go
  dot/network/notifications.go
  dot/network/notifications_test.go
  dot/network/service.go
  dot/network/service_test.go
  dot/network/sync.go
  dot/network/transaction.go
  dot/services.go
  dot/state/storage.go
  dot/sync/syncer.go
  go.mod
  go.sum
  lib/babe/median_test.go
  lib/babe/verify.go
  lib/common/optional/types.go
  lib/grandpa/network.go
  lib/trie/trie.go
  test
  tests/polkadotjs_test/yarn.lock
  tests/rpc/rpc_02-author_test.go
  tests/stress/helpers.go
  tests/stress/stress_test.go
  tests/utils/gossamer_utils.go
Labels: Status: Approved, network

#1359 lib/runtime: add perlin/life support, fix runtime bug
  cmd/gossamer/config.go
  dot/core/service.go
  dot/services.go
  dot/state/service.go
  dot/state/service_test.go
  dot/state/storage.go
  dot/state/storage_test.go
  dot/sync/syncer.go
  dot/sync/syncer_test.go
  go.mod
  go.sum
  lib/babe/babe.go
  lib/babe/babe_test.go
  lib/babe/verify_test.go
  lib/keystore/keyring.go
  lib/keystore/keyring_test.go
  lib/runtime/interface.go
  lib/runtime/life/exports.go
  lib/runtime/life/exports_test.go
  lib/runtime/life/instance.go
  lib/runtime/life/resolver.go
  lib/runtime/sig_verifier.go
  lib/runtime/storage/test_helpers.go
  lib/runtime/storage/trie.go
  lib/runtime/storage/trie_test.go
  lib/runtime/wasmer/exports_test.go
  lib/runtime/wasmer/imports.go
  lib/runtime/wasmer/instance.go
  lib/runtime/wasmer/legacy_imports.go
  lib/runtime/wasmer/test_helpers.go
  lib/runtime/wasmtime/instance.go
  lib/runtime/wasmtime/legacy_imports.go
  lib/runtime/wasmtime/test_helpers.go
  lib/trie/database.go
  lib/trie/encode.go
  lib/trie/node.go
  lib/trie/node_test.go
  lib/trie/trie.go
Labels: Status: Needs Review, wasm

#1380 cleanup: move json2 to dot/rpc
  dot/rpc/dot_up_codec.go
  dot/rpc/json2/server.go
  test
Labels: Status: Approved

#1381 Update codeowners and readme
  .github/CODEOWNERS
  README.md
Labels: Status: Approved

#1373 Optimize Trie Snapshot and Benchmark against deep copy.
  dot/rpc/modules/dev_test.go
  dot/state/db_test.go
  dot/utils_test.go
  lib/genesis/helpers_test.go
  lib/runtime/life/resolver.go
  lib/runtime/sig_verifier.go
  lib/runtime/storage/trie.go
  lib/runtime/storage/trie_test.go
  lib/runtime/types_test.go
  lib/runtime/version.go
  lib/runtime/wasmer/exports_legacy_test.go
  lib/runtime/wasmer/exports_test.go
  lib/runtime/wasmer/imports.go
  lib/runtime/wasmer/imports_test.go
  lib/runtime/wasmer/legacy_imports.go
  lib/runtime/wasmer/legacy_imports_test.go
  lib/runtime/wasmtime/legacy_imports.go
  lib/trie/child_storage.go
  lib/trie/child_storage_test.go
  lib/trie/database.go
  lib/trie/database_test.go
  lib/trie/encode_test.go
  lib/trie/node.go
  lib/trie/node_test.go
  lib/trie/trie.go
  lib/trie/trie_test.go
Labels: Status: Approved, trie

#1388 lib/trie: fix ClearPrefix again
  dot/sync/syncer_test.go
  lib/runtime/storage/trie.go
  lib/trie/trie.go
  lib/trie/trie_test.go
Labels: Status: Needs Review, trie

#1386 Implement delete and clear prefix for versioned trie.
  dot/sync/syncer_test.go
  lib/runtime/storage/trie.go
  lib/trie/trie.go
  lib/trie/trie_test.go
  tests/utils/gossamer_utils.go
Labels: Status: Needs Review, trie

#1367 automate polkadot.js/api tests
  .gitignore
  Makefile
  cmd/gossamer/config.go
  dot/build_spec.go
  dot/config.go
  dot/rpc/http_test.go
  dot/rpc/modules/system_test.go
  dot/rpc/websocket_test.go
  dot/services.go
  dot/system/service.go
  dot/system/service_test.go
  dot/types/system.go
  dot/utils.go
  go.mod
  tests/polkadotjs_test/empty.go
  tests/polkadotjs_test/package.json
  tests/polkadotjs_test/start_polkadotjs_test.go
  tests/polkadotjs_test/test/test-polkadot.js
  tests/utils/gossamer_utils.go
Labels: Status: Approved, tests

#1389 lib/runtime: fix ext_crypto_secp256k1_ecdsa_recover_version_1
  dot/rpc/modules/state.go
  dot/state/service.go
  dot/state/storage.go
  lib/common/types/result.go
  lib/runtime/test_data/block3783_gossamer.out
  lib/runtime/wasmer/exports_test.go
  lib/runtime/wasmer/imports.go
  lib/runtime/wasmer/imports_test.go
  lib/runtime/wasmer/instance.go
Labels: Status: Needs Review, crypto

#1384 edit makefile so `make test` call go test directly
  Makefile
  scripts/ci.go
Labels: Status: Approved, Type: Maintenance

#1376 [dot/rpc] implement RPC system_accountNextIndex
  dot/rpc/http.go
  dot/rpc/modules/system.go
  dot/rpc/modules/system_test.go
  dot/rpc/service_test.go
  tests/polkadotjs_test/test_transaction.js
Labels: Status: Approved, rpc

#1385 dot/network: implement syncing queue
  dot/core/test_helpers.go
  dot/network/block_announce.go
  dot/network/block_announce_test.go
  dot/network/host.go
  dot/network/message.go
  dot/network/notifications.go
  dot/network/notifications_test.go
  dot/network/service.go
  dot/network/service_test.go
  dot/network/state.go
  dot/network/state_test.go
  dot/network/sync.go
  dot/network/sync_benchmark.go
  dot/network/sync_test.go
  dot/network/test_helpers.go
  dot/rpc/modules/system_test.go
  dot/state/epoch.go
  dot/sync/errors.go
  dot/sync/syncer.go
  dot/sync/syncer_benchmark.go
  dot/sync/syncer_test.go
  dot/types/block_data.go
  lib/babe/state.go
  lib/babe/verify.go
  lib/grandpa/types.go
  lib/runtime/storage/trie.go
Labels: Status: Needs Review

#1403 dot/network: update syncing based on cpu profiling
  dot/network/block_announce_test.go
  dot/network/host.go
  dot/network/host_test.go
  dot/network/light.go
  dot/network/light_test.go
  dot/network/message.go
  dot/network/notifications.go
  dot/network/notifications_test.go
  dot/network/service.go
  dot/network/service_test.go
  dot/network/sync.go
  dot/network/sync_test.go
  dot/network/test_helpers.go
  dot/network/utils.go
  dot/sync/syncer.go
  dot/types/header.go
Labels: Status: Approved, network

#1406 lib/runtime: use __heap_base as allocator offset
  lib/runtime/allocator.go
  lib/runtime/allocator_test.go
  lib/runtime/life/instance.go
  lib/runtime/memory.go
  lib/runtime/wasmer/instance.go
  lib/runtime/wasmer/legacy_imports_test.go
  lib/runtime/wasmtime/instance.go
  lib/runtime/wasmtime/memory.go
  tests/stress/errors.go
Labels: Status: Needs Review

#1407 dot/network: sync improvements, handle runtime changes properly
  .github/workflows/tests.yml
  Makefile
  dot/core/digest.go
  dot/core/errors.go
  dot/core/interface.go
  dot/core/service.go
  dot/core/service_test.go
  dot/core/test_helpers.go
  dot/network/service.go
  dot/network/sync.go
  dot/network/sync_test.go
  dot/node.go
  dot/rpc/modules/author_test.go
  dot/rpc/modules/chain_test.go
  dot/services.go
  dot/state/block.go
  dot/sync/errors.go
  dot/sync/interface.go
  dot/sync/syncer.go
  dot/sync/syncer_test.go
  dot/sync/test_helpers.go
  lib/babe/babe.go
  lib/babe/verify.go
  lib/babe/verify_test.go
  lib/grandpa/grandpa.go
  lib/runtime/allocator.go
  lib/runtime/interface.go
  lib/runtime/life/instance.go
  lib/runtime/storage/trie.go
  lib/runtime/wasmer/imports.go
  lib/runtime/wasmer/instance.go
  lib/runtime/wasmtime/instance.go
Labels: Status: Approved, network

#1410 fix lock issue in StorageState, fixes restart issue
  dot/state/storage.go
Labels: Status: Approved

#1379 Grandpa Prove Finality RPC
  chain/gssmr/config.toml
  chain/gssmr/defaults.go
  chain/ksmcc/config.toml
  chain/ksmcc/defaults.go
  chain/polkadot/config.toml
  chain/polkadot/defaults.go
  dot/rpc/http.go
  dot/rpc/modules/api.go
  dot/rpc/modules/dev.go
  dot/rpc/modules/errors.go
  dot/rpc/modules/grandpa.go
  dot/rpc/modules/grandpa_test.go
  dot/rpc/modules/rpc.go
  dot/rpc/websocket_test.go
  tests/utils/rpc_methods.go
Labels: Status: Approved, rpc

#1411 dot/network: filter out local addresses from external addrs
  dot/network/connmgr_test.go
  dot/network/host.go
  dot/network/host_test.go
Labels: Status: Needs Review, network

#1416 lib/trie, dot/sync: fix trie.Snapshot and usage, cleanup Trie API
  dot/network/utils.go
  dot/rpc/modules/state_test.go
  dot/rpc/modules/system_test.go
  dot/state/db_test.go
  dot/state/storage.go
  dot/state/storage_test.go
  dot/state/test_helpers.go
  dot/sync/syncer.go
  dot/sync/syncer_test.go
  lib/babe/babe.go
  lib/runtime/interface.go
  lib/runtime/life/resolver.go
  lib/runtime/storage/trie.go
  lib/runtime/storage/trie_test.go
  lib/runtime/wasmer/exports_legacy_test.go
  lib/runtime/wasmer/exports_test.go
  lib/runtime/wasmer/imports.go
  lib/runtime/wasmer/imports_test.go
  lib/runtime/wasmer/instance.go
  lib/runtime/wasmer/legacy_imports.go
  lib/runtime/wasmer/legacy_imports_test.go
  lib/runtime/wasmtime/legacy_imports.go
  lib/trie/child_storage.go
  lib/trie/database.go
  lib/trie/node.go
  lib/trie/node_test.go
  lib/trie/print.go
  lib/trie/trie.go
  lib/trie/trie_test.go
Labels: Status: Needs Review, trie

#1419 lib/blocktree: update blocktree.getNode to check leaves first
  lib/blocktree/blocktree.go
Labels: Status: Approved

#1417 README update, cleanup network bootstrap logs
  README.md
  dot/network/host.go
Labels: Status: Approved, network
