Repository ChainSafe/gossamer, pull requests merged in 2021-01, with the labels that each got.

#1259 lib/runtime: implement remaining ext_storage funcs
  dot/state/trie.go
  dot/state/trie_test.go
  lib/runtime/interface.go
  lib/runtime/test_helpers.go
  lib/runtime/types.go
  lib/runtime/wasmer/imports.go
  lib/runtime/wasmer/imports_test.go
Labels: Status: Needs Review, wasm

#1261 lib/babe: if no epoch data found for epoch, use previous data
  lib/babe/epoch.go
  lib/babe/state.go
Labels: Status: Approved, babe

#1252 remove prepended network message type bytes, decode request-response messages based on context
  dot/core/interface.go
  dot/core/messages_test.go
  dot/core/service_test.go
  dot/core/test_helpers.go
  dot/network/block_announce.go
  dot/network/block_announce_test.go
  dot/network/gossip.go
  dot/network/gossip_test.go
  dot/network/host.go
  dot/network/host_test.go
  dot/network/light.go
  dot/network/message.go
  dot/network/message_test.go
  dot/network/notifications.go
  dot/network/notifications_test.go
  dot/network/service.go
  dot/network/service_test.go
  dot/network/test_helpers.go
  dot/network/tracker.go
  dot/network/tracker_test.go
  dot/network/transaction.go
  dot/sync/message.go
  dot/sync/message_test.go
  dot/sync/syncer.go
  dot/sync/syncer_test.go
  go.mod
  go.sum
  lib/common/optional/types.go
  lib/grandpa/network.go
  lib/grandpa/round_test.go
  lib/grandpa/state.go
Labels: Status: Approved, network

#1247 Implement ext_misc for v0.8 runtime.
  lib/runtime/wasmer/imports.go
Labels: Status: Needs Review

#1262 Resolve context leak.
  .github/workflows/checks.yml
  dot/core/digest.go
  dot/core/service.go
  dot/network/service.go
Labels: Status: Approved, Type: Maintenance

#1272 Adds code climate cfg & issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/general_report.md
  .github/ISSUE_TEMPLATE/task_report.md
  .github/workflows/tests.yml
  codeclimate.yml
Labels: Status: Needs Review, Type: Maintenance

#1277 Update CI to have docker-push run on dev branch only
  .github/workflows/build.yml
  .github/workflows/tests.yml
Labels: Status: Needs Review, Type: Maintenance

#1263 Load and cleanup .wasm files in TestMain.
  dot/core/service_test.go
  dot/rpc/modules/author_test.go
  dot/sync/message_test.go
  lib/babe/babe_test.go
  lib/runtime/test_helpers.go
  lib/runtime/wasmer/imports_test.go
  lib/runtime/wasmtime/exports_test.go
Labels: Status: Needs Changes, tests, wasm

#1274 config: always parse init section
  cmd/gossamer/config.go
Labels: Status: Approved

#1276 wasmer: cleanup misc print and logging log
  lib/runtime/wasmer/imports.go
Labels: Status: Approved, Type: Maintenance

#1281 Add codeowners file
  .github/CODEOWNERS
Labels: Status: Needs Review, Type: Maintenance

#1282 update BlockRequest and BlockResponse to use protobuf encoding
  Makefile
  dot/network/block_announce.go
  dot/network/block_announce_test.go
  dot/network/host_test.go
  dot/network/light.go
  dot/network/light_test.go
  dot/network/message.go
  dot/network/message_test.go
  dot/network/notifications.go
  dot/network/proto/api.v1.pb.go
  dot/network/proto/api.v1.proto
  dot/network/service.go
  dot/network/service_test.go
  dot/network/test_helpers.go
  dot/network/transaction.go
  dot/network/transaction_test.go
  dot/state/block.go
  dot/sync/syncer.go
  dot/types/block_data.go
  dot/types/body.go
  dot/types/header.go
  go.mod
  lib/common/optional/types.go
  lib/common/variadic/uint64OrHash.go
  lib/grandpa/network.go
  lib/grandpa/network_test.go
  lib/scale/decode_ptr.go
Labels: Status: Approved, network

#1286 scale: expose string array decoder
  lib/scale/decode.go
Labels: Status: Approved, scale

#1278 Add scale decoding of slice of struct.
  lib/scale/decode.go
  lib/scale/enc_dec_test.go
Labels: Status: Approved, Type: Maintenance

#1283 Added network configuration in CreateInitConfig [#1267]
  cmd/gossamer/config.go
Labels: Status: Approved, Type: Maintenance

#1289 lib/runtime: implement ext_hashing_sha2_256_version_1
  lib/common/hasher.go
  lib/runtime/wasmer/imports.go
  lib/runtime/wasmer/imports_test.go
Labels: Status: Approved, wasm

#1287 Implement ext_offchain for runtime v0.8.
  lib/runtime/wasmer/imports.go
Labels: Status: Approved, wasm

#1288 lib/runtime: fix clear_prefix w/ TestRuntimeStorage
  dot/node.go
  dot/utils_test.go
  lib/runtime/test_helpers.go
  lib/runtime/wasmer/exports_test.go
  lib/runtime/wasmer/imports.go
  lib/runtime/wasmer/imports_test.go
  lib/runtime/wasmer/instance.go
Labels: Status: Approved, wasm

#1290 [dot/state] implement state_subscribeStorage
  dot/rpc/modules/api.go
  dot/rpc/websocket.go
  dot/rpc/websocket_test.go
  dot/state/storage.go
  dot/state/storage_notify.go
  dot/state/storage_notify_test.go
  dot/state/storage_test.go
  dot/state/trie.go
  go.mod
  go.sum
Labels: Status: Approved, rpc

#1284 Intergration test that spans multiple epochs
  dot/rpc/modules/api.go
  dot/rpc/modules/dev.go
  dot/rpc/modules/dev_test.go
  lib/babe/babe.go
  tests/stress/stress_test.go
  tests/utils/dev.go
Labels: Status: Approved, tests

#1301 add decodeRPC to SlotDuration and EpochLength
  tests/utils/dev.go
Labels: Status: Needs Review, tests

#1295 lib/runtime: move state.TrieState to lib/runtime/storage, remove TestRuntimeStorage, various fixes
  Makefile
  chain/ksmcc/genesis-raw.json
  dot/core/interface.go
  dot/node.go
  dot/state/service_test.go
  dot/state/storage.go
  dot/state/storage_notify_test.go
  dot/state/storage_test.go
  dot/state/test_helpers.go
  dot/sync/interface.go
  dot/sync/syncer_test.go
  lib/babe/state.go
  lib/runtime/interface.go
  lib/runtime/storage/trie.go
  lib/runtime/storage/trie_test.go
  lib/runtime/test_helpers.go
  lib/runtime/wasmer/exports_legacy_test.go
  lib/runtime/wasmer/exports_test.go
  lib/runtime/wasmer/exports_unchecked_extrinsic_test.go
  lib/runtime/wasmer/imports.go
  lib/runtime/wasmer/imports_test.go
  lib/runtime/wasmer/test_helpers.go
  lib/runtime/wasmtime/test_helpers.go
  lib/trie/trie.go
Labels: Status: Approved, Status: Needs Review, wasm

#1299 update codebase to use badger in-memory database
  cmd/gossamer/config.go
  cmd/gossamer/config_test.go
  dot/core/digest_test.go
  dot/core/test_helpers.go
  dot/node.go
  dot/rpc/modules/chain_test.go
  dot/rpc/modules/dev_test.go
  dot/services.go
  dot/state/block_race_test.go
  dot/state/block_test.go
  dot/state/db_test.go
  dot/state/epoch_test.go
  dot/state/service.go
  dot/state/service_test.go
  dot/state/storage.go
  dot/state/storage_notify_test.go
  dot/state/storage_test.go
  dot/state/test_helpers.go
  go.mod
  go.sum
  lib/babe/babe_test.go
  lib/babe/verify_test.go
  lib/blocktree/database_test.go
  lib/grandpa/grandpa_test.go
  lib/runtime/storage/trie.go
  lib/runtime/storage/trie_test.go
  lib/runtime/test_helpers.go
  lib/runtime/wasmer/imports.go
  lib/runtime/wasmer/imports_test.go
  lib/runtime/wasmer/test_helpers.go
  lib/runtime/wasmtime/test_helpers.go
  tests/stress/stress_test.go
Labels: Status: Approved

#1305 Update ci to use local docker image to run tests
  .github/workflows/tests.yml
Labels: Status: Approved

#1303 tests: fix multi-epoch test time
  dot/rpc/modules/dev.go
  tests/stress/stress_test.go
  tests/utils/dev.go
Labels: Status: Approved, tests

#1306 lib/runtime: add execute_block test for kusama block 1
  lib/runtime/storage/trie.go
  lib/runtime/wasmer/exports.go
  lib/runtime/wasmer/exports_test.go
  lib/runtime/wasmer/imports.go
  lib/runtime/wasmer/test_helpers.go
Labels: Status: Approved

#1304 lib/runtime: fix ext_storage_read
  lib/common/optional/types.go
  lib/runtime/wasmer/imports.go
  lib/runtime/wasmer/imports_test.go
Labels: Status: Approved, wasm

#1298 Read chainType from genesis data, not from system info
  dot/node.go
  dot/rpc/modules/api.go
  dot/rpc/modules/system_test.go
  dot/services.go
  dot/services_test.go
  dot/state/storage.go
  dot/system/service_test.go
  dot/types/system.go
  go.mod
  go.sum
Labels: Status: Approved, rpc

#1307 Added protected peers functionality
  dot/network/block_announce.go
  dot/network/connmgr.go
  dot/network/connmgr_test.go
  dot/network/service.go
  dot/network/service_test.go
  dot/network/sync.go
  go.sum
Labels: Status: Needs Changes, network

#1308 fix stress tests
  dot/network/host.go
  dot/network/service.go
  go.sum
  tests/stress/grandpa_test.go
  tests/stress/helpers.go
  tests/stress/network_test.go
  tests/stress/stress_test.go
  tests/utils/gossamer_utils.go
Labels: Status: Needs Review, tests

#1250 Implement ext_crypto for runtime v0.8.
  dot/services.go
  dot/types/digest.go
  go.mod
  go.sum
  lib/common/types/errors.go
  lib/common/types/result.go
  lib/crypto/secp256k1/secp256k1.go
  lib/runtime/sig_verifier.go
  lib/runtime/test_helpers.go
  lib/runtime/types.go
  lib/runtime/types_test.go
  lib/runtime/wasmer/imports.go
  lib/runtime/wasmer/imports_test.go
  lib/runtime/wasmer/instance.go
Labels: Status: Approved, wasm

#1312 update BABE pre-runtime digest types; update BABE verifier accordingly
  dot/core/digest_test.go
  dot/core/interface.go
  dot/core/test_helpers.go
  dot/network/message.go
  dot/network/message_test.go
  dot/state/block.go
  dot/state/block_test.go
  dot/state/epoch.go
  dot/state/epoch_test.go
  dot/state/service.go
  dot/state/service_test.go
  dot/state/storage.go
  dot/sync/syncer.go
  dot/sync/syncer_test.go
  dot/types/babe_digest.go
  dot/types/babe_digest_test.go
  dot/types/babe_header.go
  dot/types/babe_header_test.go
  dot/types/body.go
  dot/types/body_test.go
  dot/types/consensus_digest.go
  go.mod
  go.sum
  lib/babe/babe.go
  lib/babe/babe_test.go
  lib/babe/build.go
  lib/babe/build_test.go
  lib/babe/epoch.go
  lib/babe/epoch_test.go
  lib/babe/types.go
  lib/babe/verify.go
  lib/babe/verify_test.go
  lib/common/common.go
  lib/runtime/wasmer/exports.go
  lib/runtime/wasmer/exports_test.go
  lib/runtime/wasmer/instance.go
Labels: Status: Approved

#1313 fix ext_storage_append
  lib/runtime/wasmer/imports.go
  lib/runtime/wasmer/imports_test.go
Labels: Status: Approved

#1310 [dot/rpc] implement RPC state_getKeysPaged
  dot/rpc/modules/api.go
  dot/rpc/modules/state.go
  dot/rpc/modules/state_test.go
  dot/rpc/websocket_test.go
  dot/state/storage.go
  lib/trie/trie.go
  lib/trie/trie_test.go
Labels: Status: Approved, rpc

#1323 [dot/rpc] use encoded extrinsics in RPC getBlock
  dot/rpc/modules/chain.go
Labels: Status: Approved, rpc

#1316 syncer improvements, skip BABE authorship right calculation for now
  dot/core/interface.go
  dot/core/service.go
  dot/core/test_helpers.go
  dot/network/host.go
  dot/network/sync.go
  dot/services.go
  dot/sync/syncer.go
  dot/sync/syncer_test.go
  lib/babe/babe.go
  lib/babe/verify.go
  lib/babe/verify_test.go
Labels: Status: Needs Review, babe

#1324 lib/babe, lib/crypto: update BABE primary threshold calculation, re-add VRF output < threshold check
  chain/gssmr/defaults.go
  chain/ksmcc/defaults.go
  cmd/gossamer/config_test.go
  dot/config.go
  dot/core/digest_test.go
  dot/state/block.go
  dot/state/epoch.go
  dot/state/epoch_test.go
  dot/types/babe.go
  go.mod
  go.sum
  lib/babe/babe.go
  lib/babe/babe_test.go
  lib/babe/build_test.go
  lib/babe/crypto.go
  lib/babe/crypto_test.go
  lib/babe/epoch.go
  lib/babe/epoch_test.go
  lib/babe/errors.go
  lib/babe/median_test.go
  lib/babe/state.go
  lib/babe/types.go
  lib/babe/verify.go
  lib/babe/verify_test.go
  lib/common/types/uint128.go
  lib/common/types/uint128_test.go
  lib/crypto/sr25519/sr25519.go
  lib/crypto/sr25519/sr25519_test.go
  lib/crypto/transcript.go
Labels: Status: Needs Review, babe

#1330 lib/babe: re-add VRF proof verification
  lib/babe/babe.go
  lib/babe/build_test.go
  lib/babe/crypto.go
  lib/babe/verify.go
  lib/babe/verify_test.go
  lib/common/types/uint128.go
Labels: Status: Needs Review, babe

#1332 dot/syncer: re-add block body handling
  dot/sync/syncer.go
  dot/sync/syncer_test.go
Labels: Status: Approved

#1329 optimizations: add TODOs, make some functionality async
  dot/state/storage.go
  dot/state/storage_notify.go
  dot/state/storage_notify_test.go
  dot/state/storage_test.go
  dot/sync/syncer.go
  lib/runtime/storage/trie.go
Labels: Status: Approved, Type: Maintenance

#1336 script to test polkadot.js/api functions
  tests/polkadotjs_test/package.json
  tests/polkadotjs_test/test.js
Labels: Status: Approved

#1318 Fix transaction validation.
  cmd/gossamer/utils.go
  dot/rpc/modules/author.go
  dot/rpc/modules/author_test.go
  dot/types/account.go
  go.mod
  go.sum
  lib/babe/babe_test.go
  lib/babe/crypto.go
  lib/babe/types.go
  lib/babe/verify.go
  lib/common/types/uint128.go
  lib/common/types/uint128_test.go
  lib/common/uint128.go
  lib/common/uint128_test.go
  lib/genesis/helpers.go
  lib/genesis/helpers_test.go
  lib/runtime/wasmer/exports_test.go
  lib/runtime/wasmer/imports.go
  lib/scale/decode.go
  lib/scale/enc_dec_test.go
  lib/scale/encode.go
  tests/rpc/rpc_02-author_test.go
Labels: Status: Needs Review

#1335 lib/babe: implement secondary slot authorship verification
  lib/babe/babe_test.go
  lib/babe/crypto.go
  lib/babe/errors.go
  lib/babe/secondary.go
  lib/babe/secondary_test.go
  lib/babe/types.go
  lib/babe/verify.go
  lib/babe/verify_test.go
Labels: Status: Needs Review, babe
