Repository ChainSafe/gossamer, pull requests merged in 2024-06, with the labels that each got.

#3977 test(lib/runtime/storage): use require.NoError instead of require.Nil for errors
  dot/sync/syncer_test.go
  lib/runtime/storage/trie_test.go
Labels: T-enhancement, S-tests

#3953 feat(dot/sync): prevent block sync request spamming
  dot/network/helpers_test.go
  dot/network/mock_syncer_test.go
  dot/network/state.go
  dot/network/sync.go
  dot/peerset/constants.go
  dot/rpc/modules/mock_syncer_test.go
  dot/rpc/modules/mocks_generate_test.go
  dot/sync/chain_sync.go
  dot/sync/errors.go
  dot/sync/message.go
  dot/sync/message_integration_test.go
  dot/sync/message_test.go
  dot/sync/syncer.go
  pkg/trie/db_getter_mocks_test.go
Labels: S-network, C-simple

#4033 test(dot/sync): enhance tests for the worker
  dot/sync/worker_test.go
Labels: S-tests

#4061 fix(lib/runtime/storage): `NextKeys` failed after a transaction commit
  lib/runtime/storage/trie.go
  lib/runtime/storage/trie_test.go
Labels: T-bug, C-complex, S-runtime, P-critical, S-sync-westend
