Repository ChainSafe/gossamer, pull requests merged in 2024-12, with the labels that each got.

#4349 Added Parachain Protocol to Gossamer docs
  docs/docs/assets/img/availability-thresholds.png
  docs/docs/assets/img/parachain-protocol/slide1.jpg
  docs/docs/assets/img/parachain-protocol/slide10.jpg
  docs/docs/assets/img/parachain-protocol/slide11.jpg
  docs/docs/assets/img/parachain-protocol/slide2.jpg
  docs/docs/assets/img/parachain-protocol/slide3.jpg
  docs/docs/assets/img/parachain-protocol/slide4.jpg
  docs/docs/assets/img/parachain-protocol/slide5.jpg
  docs/docs/assets/img/parachain-protocol/slide6.jpg
  docs/docs/assets/img/parachain-protocol/slide7.jpg
  docs/docs/assets/img/parachain-protocol/slide8.jpg
  docs/docs/assets/img/parachain-protocol/slide9.png
  docs/docs/design/availability-subsystems.md
  docs/docs/design/candidate-backing.md
  docs/docs/design/parachain-protocol-overview.md
  docs/mkdocs.yml
Labels: S-doc

#4346 docs(parachain): design for bitfield distribution
  docs/docs/design/availability-subsystems.md
  docs/docs/design/bitfield-distribution.md
Labels: S-doc

#4344 Update issues templates and labels to display recent agreements about workflow
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/epic.md
  .github/ISSUE_TEMPLATE/general_report.md
  .github/ISSUE_TEMPLATE/implementation.md
  .github/ISSUE_TEMPLATE/investigation_or_research.md
  .github/ISSUE_TEMPLATE/software_design.md
  .github/ISSUE_TEMPLATE/task_report.md
  .github/ISSUE_TEMPLATE/user_story.yml
  .github/labels.yml
  docs/docs/repo/labels.md
Labels: S-ci, S-doc

#4348 docs(parachain): design for prospective-parachains
  docs/docs/assets/img/parachain-protocol/pp_1.jpeg
  docs/docs/assets/img/parachain-protocol/pp_2.jpeg
  docs/docs/assets/img/parachain-protocol/pp_3.jpeg
  docs/docs/assets/img/parachain-protocol/pp_4.jpeg
  docs/docs/assets/img/parachain-protocol/pp_5.jpeg
  docs/docs/assets/img/parachain-protocol/pp_6.jpeg
  docs/docs/design/fragment-chain.md
  docs/docs/design/prospective-parachains.md
  docs/mkdocs.yml
Labels: S-doc, T-design

#4336 Fix: check auth changes before processing block
  dot/sync/block_importer.go
  dot/types/digest.go
  internal/client/consensus/grandpa/justification_test.go
  internal/primitives/runtime/digest.go
  internal/primitives/runtime/digest_test.go
  internal/primitives/runtime/generic/header_test.go
  lib/grandpa/warp_sync.go
  lib/grandpa/warp_sync_test.go
Labels: T-bug, P-high, S-sync-westend, S-grandpa

#4408 docs(parachain): add design doc for bitfield signing subsystem
  docs/docs/design/availability-subsystems.md
  docs/docs/design/bitfield-distribution.md
  docs/docs/design/bitfield-signing.md
Labels: T-design

#4400 Design Doc: support elastic scaling in candidate backing subsystem
  docs/docs/assets/img/multiple-group-assignment.png
  docs/docs/assets/img/single-group-assignment.png
  docs/docs/design/candidate-backing-elastic-scaling.md
  docs/docs/design/candidate-backing.md
Labels: T-design

#4379 docs(parachain): design for statement-distribution
  docs/docs/assets/img/sd_img1.jpeg
  docs/docs/design/statement-distribution.md
Labels: T-design
