Repository ChainSafe/gossamer, pull requests merged in 2024-05, with the labels that each got.

#3912 fix(dot/peerset): fix context of "highest rated peer is below bannedThresholdValue" error
  dot/network/notifications.go
  dot/peerset/peerset.go
Labels: T-bug, S-network, C-simple

#3884 feat(pkg/trie): Create TrieDBIterator to easily traverse keys in TrieDB
  pkg/trie/trie.go
  pkg/trie/triedb/codec/node.go
  pkg/trie/triedb/in_memory_to_triedb_migration_test.go
  pkg/trie/triedb/iterator.go
  pkg/trie/triedb/lookup.go
  pkg/trie/triedb/lookup_test.go
  pkg/trie/triedb/triedb.go
  pkg/trie/triedb/triedb_iterator.go
  pkg/trie/triedb/triedb_iterator_test.go
Labels: C-complex, T-feat, S-trie

#3945 feat(scripts): retrieve blocks script
  dot/network/helpers_test.go
  dot/network/host.go
  dot/network/utils.go
  dot/network/utils_test.go
  scripts/retrieve_block/README.md
  scripts/retrieve_block/retrieve_block.go
  scripts/retrieve_block/retrieve_block_test.go
  scripts/trie_state/trie_state_script.go
  scripts/trie_state/trie_state_script_test.go
Labels: S-network, C-simple, T-enhancement, S-sync-westend

#3895 feat(pkg/trie): Add TrieCache for trie values and nodes
  go.mod
  go.sum
  pkg/trie/cache/inmemory/maxbytes_lru_cache.go
  pkg/trie/cache/inmemory/maxbytes_lru_cache_test.go
  pkg/trie/cache/inmemory/trie_cache.go
  pkg/trie/cache/inmemory/trie_cache_test.go
  pkg/trie/cache/trie_cache.go
  pkg/trie/triedb/in_memory_to_triedb_migration_test.go
  pkg/trie/triedb/lookup.go
  pkg/trie/triedb/lookup_test.go
  pkg/trie/triedb/mem_test.go
  pkg/trie/triedb/triedb.go
  pkg/trie/triedb/triedb_iterator.go
  pkg/trie/triedb/triedb_iterator_test.go
Labels: C-complex, T-feat, S-trie

#3988 fix(wazero): remove panic from offchain submit transaction
  dot/services.go
  lib/runtime/wazero/imports.go
Labels: C-simple, S-runtime, P-high
