Repository ChainSafe/gossamer, pull requests merged in 2024-04, with the labels that each got.

#3828 chore(dot/node): remove `IsNodeInitialized` method from `nodeBuilder`
  dot/mock_node_builder_test.go
  dot/node.go
  dot/node_integration_test.go
Labels: P-low, C-simple

#3843 chore(docs): Add more details for external contributors
  .github/PULL_REQUEST_TEMPLATE.md
Labels: P-low, C-simple, S-doc

#3842 fix(docs): Fixing links from index.md
  docs/docs/index.md
Labels: P-low, C-simple, S-doc

#3873 chore(docs): fix some comments
  docs/docs/getting-started/installation.md
  pkg/trie/inmemory/in_memory.go
Labels: P-low, S-doc

#3874 fix(dot/network): node connection issues on restart
  chain/paseo/chain-spec-raw.json
Labels: C-simple

#3857 feat(lib): support `MinimumBackingVotes` runtime function call
  dot/core/mock_runtime_instance_test.go
  dot/state/mocks_runtime_test.go
  dot/sync/mock_runtime_test.go
  lib/babe/mocks/runtime.go
  lib/blocktree/mocks_test.go
  lib/grandpa/mocks_runtime_test.go
  lib/runtime/constants.go
  lib/runtime/interface.go
  lib/runtime/mocks/mocks.go
  lib/runtime/test_helpers.go
  lib/runtime/wazero/instance.go
  lib/runtime/wazero/instance_test.go
  lib/runtime/wazero/testdata/parachains_configuration_v190.yaml
Labels: S-runtime

#3731 feat(dot/parachain/backing): handle validated candidate command
  dot/parachain/backing/can_second.go
  dot/parachain/backing/can_second_test.go
  dot/parachain/backing/candidate_backing.go
  dot/parachain/backing/candidate_backing_test.go
  dot/parachain/backing/mocks_test.go
  dot/parachain/backing/per_relay_parent_state.go
  dot/parachain/backing/statement_table.go
  dot/parachain/backing/validated_candidate_command.go
  dot/parachain/collator-protocol/messages/overseer_messages.go
  dot/parachain/collator-protocol/validator_side.go
  dot/parachain/collator-protocol/validator_side_test.go
  dot/parachain/types/overseer_message.go
  dot/parachain/types/statement.go
  dot/parachain/types/statement_test.go
  dot/state/grandpa_test.go
Labels: S-subsystems-backing

#3855 feat(pkg/trie): Read-only lazy loading TrieDB
  pkg/trie/inmemory/db_getter_mocks_test.go
  pkg/trie/inmemory/in_memory.go
  pkg/trie/inmemory/mocks_generate_test.go
  pkg/trie/trie.go
  pkg/trie/triedb/child_tries.go
  pkg/trie/triedb/codec/decode.go
  pkg/trie/triedb/codec/decode_test.go
  pkg/trie/triedb/codec/header.go
  pkg/trie/triedb/codec/header_test.go
  pkg/trie/triedb/codec/key.go
  pkg/trie/triedb/codec/key_test.go
  pkg/trie/triedb/codec/mocks_generate_test.go
  pkg/trie/triedb/codec/node.go
  pkg/trie/triedb/codec/reader_mock_test.go
  pkg/trie/triedb/codec/variants.go
  pkg/trie/triedb/in_memory_to_triedb_migration_test.go
  pkg/trie/triedb/iterator.go
  pkg/trie/triedb/print.go
  pkg/trie/triedb/triedb.go
Labels: C-complex, P-high, T-feat, S-trie

#3913 feat(dot/state): Save first slot number in db
  dot/state/block.go
  dot/state/block_finalisation.go
  dot/state/epoch.go
  dot/state/epoch_test.go
Labels: C-simple, T-feat, S-babe

#3879 feat(lib/runtime/wazero): implement compiler cache
  chain/paseo/chain-spec-raw.json
  lib/runtime/wazero/instance.go
  lib/runtime/wazero/instance_test.go
Labels: C-complex, S-runtime, T-enhancement, S-sync-paseo, P-critical
