Repository ChainSafe/gossamer, pull requests merged in 2024-07, with the labels that each got.

#4039 feat(pkg/trie): TrieDB commits
  pkg/trie/db/db.go
  pkg/trie/triedb/codec/node.go
  pkg/trie/triedb/lookup.go
  pkg/trie/triedb/node.go
  pkg/trie/triedb/triedb.go
  pkg/trie/triedb/triedb_test.go
  pkg/trie/triedb/util_test.go
Labels: C-complex, T-feat, S-trie

#4018 docs(lib/services): Improve comments of the type ServiceRegistry
  lib/services/services.go
Labels: S-doc

#4081 fix(dot/sync): Check if `network.ErrNilBlockInResponse`
  dot/sync/chain_sync.go
  dot/sync/chain_sync_test.go
  dot/sync/worker.go
Labels: T-bug, P-low, C-simple, S-sync-westend

#4090 fix(dot/node): `pprof` flags were not being considered correctly
  cmd/gossamer/commands/root.go
Labels: T-bug, C-simple, P-high, S-infrastructure
