Repository ChainSafe/gossamer, pull requests merged in 2024-03, with the labels that each got.

#3787 chore: add network integration test with kademilia instead mDNS
  .github/workflows/docker-network.yml
  Makefile
  docs/docs/testing-and-debugging/test-suite.md
  dot/network/discovery.go
  dot/network/service.go
  dot/sync/syncer.go
  go.mod
  go.sum
  tests/network/network_integration_test.go
  tests/utils/node/node.go
Labels: S-network, C-simple, S-tests

#3799 fix(lib/blocktree): improve `blocktree.GetHashesAtNumber`
  dot/state/block.go
  dot/state/grandpa_test.go
  lib/babe/mock_state_test.go
  lib/babe/state.go
  lib/blocktree/blocktree.go
  lib/blocktree/blocktree_test.go
  lib/blocktree/node.go
Labels: C-simple, T-enhancement, S-state

#3801 feat(lib): support AsyncBackingParams runtime function call
  dot/core/mock_runtime_instance_test.go
  dot/parachain/types/async_backing.go
  dot/state/mocks_runtime_test.go
  dot/sync/mock_runtime_test.go
  lib/babe/mocks/runtime.go
  lib/blocktree/mocks_test.go
  lib/crypto/secp256k1/secp256k1.go
  lib/grandpa/mocks_runtime_test.go
  lib/runtime/constants.go
  lib/runtime/interface.go
  lib/runtime/mocks/mocks.go
  lib/runtime/test_helpers.go
  lib/runtime/wazero/imports.go
  lib/runtime/wazero/imports_test.go
  lib/runtime/wazero/instance.go
  lib/runtime/wazero/instance_test.go
Labels: S-crypto, S-runtime, P-high, T-feat

#3819 test(lib/runtime): Add new test data and use it in a test to get async backing params
  lib/runtime/wazero/instance_test.go
  lib/runtime/wazero/testdata/parachains_configuration_v180.yaml
Labels: S-tests

#3797 fix(node): fix node restart
  dot/state/block.go
  dot/state/block_finalisation.go
  dot/state/service.go
  dot/sync/chain_sync.go
  dot/sync/chain_sync_test.go
  dot/sync/errors.go
  dot/sync/interfaces.go
  dot/sync/mocks_test.go
  dot/sync/syncer.go
  dot/sync/syncer_test.go
  lib/services/services.go
Labels: T-bug, S-sync-paseo, P-high
