Repository ChainSafe/gossamer, pull requests merged in 2024-02, with the labels that each got.

#3743 Fix IP error logs
  dot/network/host.go
  go.mod
  go.sum
  internal/pubip/README.md
  internal/pubip/pubip.go
  internal/pubip/pubip_test.go
Labels: C-simple, T-enhancement

#3682 feat(dot/parachain/backing): handle `second` incoming overseer message
  dot/parachain/backing/candidate_backing.go
  dot/parachain/backing/second.go
  dot/parachain/backing/second_test.go
  dot/parachain/backing/validated_candidate_command.go
  dot/parachain/types/types.go
Labels: S-subsystems-backing

#3704 feat(dot/parachain/backing): handle `GetBackedCandidatesMessage` incoming overseer message
  dot/parachain/backing/candidate_backing.go
  dot/parachain/backing/candidate_backing_test.go
  dot/parachain/backing/get_backed_candidates.go
  dot/parachain/backing/get_backed_candidates_test.go
  dot/parachain/backing/mocks_test.go
  dot/parachain/backing/per_relay_parent_state.go
  dot/parachain/backing/statement_table.go
Labels: S-subsystems-backing

#3559 feat(parachain/collator): handle backed overseer message
  dot/mock_node_builder_test.go
  dot/node_integration_test.go
  dot/parachain/collator-protocol/message.go
  dot/parachain/collator-protocol/messages/overseer_messages.go
  dot/parachain/collator-protocol/mock_blockstate_test.go
  dot/parachain/collator-protocol/mock_subsystem_test.go
  dot/parachain/collator-protocol/mocks_generate_test.go
  dot/parachain/collator-protocol/mocks_test.go
  dot/parachain/collator-protocol/validator_side.go
  dot/parachain/collator-protocol/validator_side_test.go
  dot/parachain/service.go
  dot/parachain/types/subsystems.go
  dot/state/block.go
Labels: S-subsystems-collator

#3756 fix: fix non deterministic panic during TestStableNetworkRPC integration test
  dot/network/connmgr.go
  dot/network/connmgr_integration_test.go
  dot/network/discovery.go
  dot/network/host.go
  dot/network/interfaces.go
  dot/network/notifee.go
  dot/network/notifications_test.go
  dot/network/service.go
  dot/network/utils_test.go
  dot/peerset/peerset.go
  dot/peerset/peerset_test.go
  dot/peerset/peerstate.go
  dot/peerset/peerstate_test.go
  go.mod
  go.sum
  internal/mdns/dialable.go
  internal/mdns/interfaces.go
  internal/mdns/mdns.go
  tests/rpc/system_integration_test.go
Labels: S-tests
